@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.closed{
  right: -23em;
  top: -1em;
  pointer-events: none;
  opacity: 0;
  
}
.open{
  right: -2rem;
  top: -1em;
  opacity: 1;
  pointer-events: all;
}

.project-open{
  width: 800px;
  height:400px;
  box-shadow: 0 4px 6px 0 rgba(167, 164, 164, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.05);
  opacity: 1;
  pointer-events: all;
  background: blue;
  transform: translateY(-50%);
}

.menu,.pr-details{
  transition: 500ms all ease-in;
}

.sec{
  height: 90vh;
}
